{%  extends 'base.html.twig' %}

{%  block body %}
    <p>
        Record width id {{ postId }} has been added.
    </p>
    <p>
        <a href="{{ path('show') }}">Go to list &raquo;</a>
    </p>

{%  endblock body %}