{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Hello world!
    </p>
    <p>
        <a href="{{ path('add') }}">Add record &raquo;</a>
    </p>
	<p>
	    <a href="{{ path('mail') }}">Send email &raquo;</a>
	</p>
{% endblock %}
