{%  extends 'base.html.twig' %}

{%  block body %}
    List of all records:
    <ul>
        {% for post in posts %}
            <li>
                {{ post.id }} - {{ post.name }}
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('add') }}">Add new record &raquo;</a>
{%  endblock body %}